html {
    background-color: #EAE5DF;
}

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
  #navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
  }
  .logo img {
    margin: 15px;
    cursor: pointer;
  }

 